<section id="secao">
    <div class="box-btn">
        <button class="btn-menu" (click)="toggleMenu()">
            <span id="hamburguer"></span>
        </button>
    </div>

    <form class="formulario" id="form">
        <h3 class="titulo">Categorias</h3>
        <p class="categorias">Lorem ipsum dolor</p>
        <p class="categorias">Lorem ipsum dolor</p>
        <p class="categorias">Lorem ipsum dolor</p>
        <p class="categorias">Lorem ipsum dolor</p>

        <label for="input-busca" class="titulo">Procura por alguma notícia?</label>
        <div class="box">
            <input type="text" id="input-busca">
            <button class="btn-pesquisa"></button>
        </div>
    </form>
</section>
