<div class="noticias">
    @for(item of news; track item){
        @if(item.image !== "Invalid faker method - image.image"){
            <div class="card">
                <app-imagem [imageSrc]="item.image"></app-imagem>
                <div class="card-box">
                    <h4 class="card-title">{{item.title}}</h4>
                    <p class="card-txt">{{item.body}}</p>
                    <a [routerLink]="['/detalhes', item.id]" routerLinkActive="active" ariaCurrentWhenActive="page" class="card-link">Ler mais</a>

                </div>
            </div>
        }
    }
</div>
