.noticias{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 220px);
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    width: 70vw;
}

.card{
    border: 1px solid #a0a0a0;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    margin: 0 3rem 3rem;
    width: 450px;
    height: 565px;
}

.card-box{
    margin: 0.5rem .75rem;
}

.card-title{
    font-size: 2rem;
    margin: 0;
    color: #171616;
}

.card-txt{
    color: #a0a0a0;
}

.card-link{
    text-decoration: none;
    margin: 3rem 0 .5rem;
}

@media (max-width: 576px){
    .noticias{
        width: 100vw;
        overflow-x: hidden;
    }

    .card{
        width: 80vw;
        height: auto;
    }
}