.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.titulo{
    font-size: 2.5rem;
}

.lista{
    align-items: center;
    display: flex;
    list-style: none;
}

.item{
    margin-left: 2rem;
}